name: publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: build & test & publish
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v2

      ##
      # Setup
      # Setup multiple .NET versions so we can build against all referenced .NET versions.
      ##
      - name: Setup .NET Core 2.1.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.1.x
     
      - name: Setup .NET Core 3.1.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      - name: Setup .NET 5.0.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Setup .NET 6.0.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      ##
      # Dependencies
      # Restore the project and its dependencies.
      ##
      - name: Install dependencies
        run: dotnet restore

      ##
      # Publishing
      # Publish all NuGet packages from Substrate .NET Toolchain
      ##
      - name: Publish Substrate.AspNetCore
        id: publish_nuget_1
        uses: alirezanet/publish-nuget@v3.0.4
        with:
          PROJECT_FILE_PATH: Substrate.AspNetCore/Substrate.AspNetCore.csproj
          VERSION_FILE_PATH: Version.props
          VERSION_REGEX: ^\s*<AjunaPackageVersion>(.*)<\/AjunaPackageVersion>\s*$
          PACKAGE_NAME: Substrate.AspNetCore
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}

      - name: Publish Substrate.ServiceLayer
        id: publish_nuget_2
        uses: alirezanet/publish-nuget@v3.0.4
        with:
          PROJECT_FILE_PATH: Substrate.ServiceLayer/Substrate.ServiceLayer.csproj
          VERSION_FILE_PATH: Version.props
          VERSION_REGEX: ^\s*<AjunaPackageVersion>(.*)<\/AjunaPackageVersion>\s*$
          PACKAGE_NAME: Substrate.ServiceLayer
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}

      - name: Publish Substrate.ServiceLayer.Model
        id: publish_nuget_3
        uses: alirezanet/publish-nuget@v3.0.4
        with:
          PROJECT_FILE_PATH: Substrate.ServiceLayer.Model/Substrate.ServiceLayer.Model.csproj
          VERSION_FILE_PATH: Version.props
          VERSION_REGEX: ^\s*<AjunaPackageVersion>(.*)<\/AjunaPackageVersion>\s*$
          PACKAGE_NAME: Substrate.ServiceLayer.Model
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}

      - name: Publish Tools/Substrate.DotNet
        id: publish_nuget_4
        uses: alirezanet/publish-nuget@v3.0.4
        with:
          PROJECT_FILE_PATH: Tools/Substrate.DotNet/Substrate.DotNet.csproj
          VERSION_FILE_PATH: Version.props
          VERSION_REGEX: ^\s*<AjunaPackageVersion>(.*)<\/AjunaPackageVersion>\s*$
          PACKAGE_NAME: Substrate.DotNet
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}

      - name: Publish Tools/Substrate.DotNet.Template
        id: publish_nuget_5
        uses: alirezanet/publish-nuget@v3.0.4
        with:
          PROJECT_FILE_PATH: Tools/Substrate.DotNet.Template/Substrate.DotNet.Template.csproj
          VERSION_FILE_PATH: Version.props
          VERSION_REGEX: ^\s*<AjunaPackageVersion>(.*)<\/AjunaPackageVersion>\s*$
          PACKAGE_NAME: Substrate.DotNet.Template
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}